

.body {
	display: table-cell;
    vertical-align: middle;
	width: 980px;
	background-color: #777;
}


.divone {

	background-color: #ebebeb;
	width: 450px;
	height:300px;
	float: left;
	border-style: solid;
	border-color: green;
	margin-right: 25px;
	margin-bottom: 25px;
	text-align: center;
	text-decoration-color: #777;
}
.divtwo {
	background-color: #ebebeb;
	width: 450px;
	height:300px;
	float: left;
	border-style: solid;
	border-color: black;
	margin-bottom: 25px;
	clear: right;
	text-align: center;
	text-decoration-color: #777;
}
.header {
	background-color: #ebebeb;
	height:50px;
	border-style: solid;
	border-color: red;
	text-align: center;
	text-decoration-color: #777;

}

.navone {
	background-color: #ebebeb;
	height:50px;
	border-style: solid;
	border-color: blue;
	text-align: center;
	margin-bottom: 25px;
	text-decoration-color: #777;
}

.navtwo {

	clear:left;
	width:980px;
	background-color: #ebebeb;
	height:50px;
	border-style: solid;
	border-color: blue;
	text-align: center;
	margin
	padding-top: 10px;
	text-decoration-color: #777;
}

.divthree {
	position: relative;
	top: 30px;
	height: 240px;
	border-style: solid;
	border-color: red;
	text-align: center;
	background-color: #777;
	margin-bottom: 15px;
	margin-left:10px;
	margin-right:10px;
}